InstaTwitClient/InstaTwitClient/Web References/InstaTwitWS/InstaTwit.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Serve/" targetNamespace="http://Serve/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="picInsta" type="tns:picInsta" />
  <xs:element name="picInstaResponse" type="tns:picInstaResponse" />
  <xs:element name="picTwit" type="tns:picTwit" />
  <xs:element name="picTwitResponse" type="tns:picTwitResponse" />
  <xs:complexType name="picTwit">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="picTwitResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="picInsta">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="picInstaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>